
<h1>URL Shortener</h1>
<p>Enter your url below to shorten it.</p>

<form action= "/urls" method= "post">
	Enter URL:
	<input type= "text" name="url[long]">
	<input type= "submit" value= "Submit">
</form>

<h3><u><font size="5">URL list</font></u></h3>
<table border= "5">
	<th>Long Url</th>
	<th>Short Url</th>
	<% @urls.each do |url| %>
		<tr>
			<td><a href="<%= url.long_url %>"> <%= url.long_url %></a></td>				
			<td><a href= "<%= url.long_url %>">  <%= request.host%>:9393/<%= url.short_url %></a></td>
		</tr>
	<% end %>
</table>