<div class="header">

		<div id="icon_and_name">
			<img id="header_icon" src="/img/nav img/nav bar.png" alt="nav bar icon" />
			<p id="name">Cut URL</p>
		</div>

		<div id="input_form">
			<form id="url_input_form" action= "/urls" method= "post">
					<input id="form_input" type= "url" name="url[long_url]" placeholder="Enter URL Here to Shorten" required>
				<input id="submit_button" type= "submit" value= "Submit">
				<span id="reminder">Please check whether your link include http/https before submit!</span>
			</form>
		</div>

			<div id="error_message">

			</div>

</div>


<div id="urls_block" style="clear:both">
	<h1 id="table_title"><button id="table_title_button">URL LIST</button></h1>
	<table id="urls_table">
		<thead>
			<th>Long Url</th>
			<th>Short Url</th>
			<th>Clicks Count</th>
		</thead>
		<tbody>
			<% @urls.each do |url| %>
				<tr id="table_row">
					<td><a href="<%= url.long_url %>"> <%= url.long_url %></a></td>
					<td><a href= "<%= request.host%>:9393/<%= url.short_url %>">  <%= request.host%>:9393/<%= url.short_url %></a></td>
					<td id="click_count_col"><%= url.click_count %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
